<div id="site-container">
    {{> header content.header}}
    {{#with content.body.intro}}
        <div id="intro">
            <div id="mix-free">
                <img src="public/images/DL32R-logo.png">
                <h1 class="stroked header-two">{{{tagline1}}}</h1>
                <h1 class="header-three">{{{tagline2}}}</h1>
            </div>
            <p id="intro-text">{{{text}}}</p>
        </div>
    {{/with}}
    {{#with content.body.hardware}}
        <div id="hardware" class="row">
            <div class="col-sm-6 relative">
                <img class="mixer-img" src="public/images/mixer.png" width="560" height="290">
                <div class="dot dot-lg"><h4>{{{dot}}}</h4></div>
                <div class="pull-right">{{> video-thumb video}}</div>
            </div>
            <div class="col-sm-6">
                <div class="copy-and-features">
                    {{> info-box mainCopy}}
                    {{#each features.items}}
                        <div class="hardware-count">
                            <img src="{{imgUrl}}" width="287" height="191">
                            <div>
                                <h3 class="count">{{{count}}}</h3>
                                <p>{{{text}}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/with}}
    <div class="section-separator first"></div>
    {{#with content.body.wireless}}
        <div id="wireless" class="row">
            <div class="col-sm-6">
                <div class="pull-right text-right copy-and-features">
                    {{> info-box mainCopy}}
                    {{> video-thumb video}}
                </div>
            </div>
            <div class="col-sm-6 relative">
                <img class="ipad-landscape-view" src="public/images/ipad-landscape-view.png" width="730" height="510">
                {{> feature-list features}}
                <div class="dot dot-lg"><h4>{{{dot}}}</h4></div>
            </div>
        </div>
    {{/with}}
    <div class="section-separator second"></div>
    {{#with content.body.recordPlay}}
        <div id="record-play" class="row">
            <div class="col-sm-6 relative">
                <img class="product-img pull-right" src="public/images/img_record-play.jpg" width="442" height="404">
                <div class="dot dot-sm"><h4>{{{dot}}}</h4></div>
                <div class="pull-right thing">{{> feature-list features}}</div>
            </div>
            <div class="col-sm-6">
                <div class="copy-and-features">{{> info-box mainCopy}}
                    {{> video-thumb video}}</div>
            </div>
        </div>
    {{/with}}
    <div class="section-separator third"></div>
    {{#with content.body.dsp}}
        <div id="dsp" class="row">
            <div class="col-sm-6 relative">
                <div class="pull-right text-right copy-and-features">
                    {{> info-box mainCopy}}
                    {{> video-thumb video}}
                    <div class="dot dot-lg"><h4>{{{dot}}}</h4></div>
                </div>
            </div>
            <div class="col-sm-6">{{> feature-list features}}
                <img class="product-img" src="{{imgUrl}}" width="668" height="489">
            </div>
        </div>
    {{/with}}
    <div class="section-separator fourth"></div>
    {{#with content.body.masterFader}}
        <div id="master-fader" class="row">
            <div class="col-sm-6">
                <div id="master-fader-images">
                    {{#each features.items}}
                        <img id="{{id}}" class="pull-right {{#if @first}}active{{else}}invisible{{/if}}" src="{{imgUrl}}" width="665" height="545">
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="copy-and-features">
                    {{> info-box mainCopy}}
                    {{> feature-list-with-switcher features}}
                    <div class="pull-left app-and-video">
                        <a href="#app-store">
                            <img id="app-store-badge" src="public/images/app-store-badge.svg">
                        </a>
                        {{> video-thumb video}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
    <div class="section-separator fifth"></div>
    {{> footer content.footer}}
</div><!-- templates -->
{{> video-modal}}
